body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  max-height: 100dvh;
  height: 100dvh;
  overflow: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}