@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
:root{
  --black: #222;
  --white: #EEE;
  --darkergray: #333;
  --darkgray: #444;
  --gray: #555;
  --lightgray: #666;
  --lightergray: #ba8c8c;

  --lightblue: #AFDBF5;
  --recipient-message:var(--lightblue);
  --quick-action: var(--white);
  --recipient-quick-action: var(--white);

  --online:#7dff7d;
  --away: #ffbe7d;
  --busy: #ff7d7d;
  --offline: #dedede;
}
[data-theme="light"]{
  --bg: var(--white);
  --text:var(--black);
}
[data-theme="dark"]{
  --bg: var(--black);
  --text:var(--white);
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#loginForm span{
  color: red;
}
#loginForm.invalidCredentials input:not([type="reset"]){
  color: red;
}
#chatHeader{
  background-color: var(--darkgray);
  display: flex;
  align-items: center;
}
#recipientPicture{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 7px;
  padding: 3px;
  border: 2px solid transparent;
}
#recipientPicture.online{border: 2px solid var(--online)}
#recipientPicture.busy{border: 2px solid var(--busy)}
#recipientPicture.away{border: 2px solid var(--away)}
#recipientPicture.offline{border: 2px solid var(--offline)}
#chatName{
  font-size: 21px;
}
#recipientId::before{
  content: "#";
}
#recipientId{
  font-size: 14px;
  margin-left: 3px;
  color: var(--lightgray);
}
#chat{
  background-color: #333;
  min-width: 500px;
  width: fit-content;
  height: 80%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}
.historyMessage{
  position: relative;
  width: fit-content;
  margin: 28px 7px;
  padding: 7px;
  padding-bottom: 14px;
  overflow-x: hidden;
}
.messageQuickAction{
  position: absolute;
  user-select: none;
  left: -7px;
  top: 0;
  height: 100%;
  background-color: var(--quick-action);
  cursor: pointer;
  transition: .3s;
  width: 7px;
}
.historyMessage:hover>.messageQuickAction{
  left: 0px;
}
.messageText{
  margin: 0 14px;
  display: inline-block;
}
.historyMessage>sub{
  position: absolute;
  font-size: xx-small;
  bottom: 3px;
  right: 7px;
}
.msgSender{
  box-sizing: content-box;
  align-self: flex-end;
  margin-left: 42px;
  background-color: #444;
}
.msgRecipient{
  align-self: flex-start;
  margin-right: 42px;
  background-color: var(--recipient-message);
  color: var(--black);
}
.msgRecipient .messageQuickAction{
  background-color: var(--recipient-quick-action);
}
button{
  cursor: pointer;
  background-color: #555;
  border: none;
}
#chatInput{
  background-color: #444;
  border-radius:2px;
  margin: 7px;
  min-width: 500px;
  display: flex;
  align-items: end;
}
#chatInput>button{
  margin: 7px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chatInput>button>img{
  width: 20px;
  height: 20px;
}
#msgInput{
  all: unset;
  resize: none;
  margin: 7px auto;
  height: 28px;
  background-color: var(--darkergray);
  flex: 1;
  padding-left: 10px;
}
.chatsList{
  background-color: lightblue;
  min-width: 100px;
}
.chatsList>ul{
  all: unset;
  list-style: none;
}
